@model MvcMovies.Models.ViewModels.MovieSearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm("search" , "movies"))
{
    @Html.Label(Model.Heading)
    @Html.TextBox("SearchTerm")
    @Html.Hidden("NumRows",3)
    <input type="submit" value="Search" />
}